mixin logo
  a(href='./')
    img.logo&attributes(attributes)(src='./img/logo/logo.svg' alt='Логотип')

mixin svg(name)
  svg(data-svg=name)&attributes(attributes)
    use(xlink:href=`./img/sprites/sprite.svg#${name}`)

mixin img(src, alt)
  img(src=src alt=alt loading='lazy')&attributes(attributes)

mixin picture(src, alt)
  picture
    source(srcset=src + '.webp' type='image/webp')
    img(src=src + '.jpg' alt=alt loading='lazy')&attributes(attributes)

mixin section-title(subtitle, title)
  div.section-title&attributes(attributes)
    h3.section-title__subtitle= subtitle
    h2.section-title__title= title

mixin rating-tour(rating)
  div.rating&attributes(attributes)
    +svg('star').rating__svg
    p.rating__number= rating

mixin program-tour(title, subtitle, price, text)
  article.program&attributes(attributes)
    div.program__info
      h4.program__title= title
      h5.program__subtitle= subtitle
      p.program__price= price
    div.program__wrap
      p.program__text= text
    a.btn.btn_primary.program__button(href='#') Программа тура

mixin blog-card(src, title, date, text)
  li.blog-card&attributes(attributes)
    +picture(src, title).blog-card__img
    a.blog-card__info(href='#')
      h4.blog-card__title= title
      div.blog-card__wrap
        p.blog-card__text= text
      div.blog-card__more
        p.blog-card__date= date
        p.blog-card__read Читать статью

mixin link-item(title, href)
  li.link-item&attributes(attributes)
    +svg('arrowList').link-item__svg
    a.link-item__text.link-hover(href=href)= title
